
#scrollBar {
  display: table;
  width: 315px;
  height: 200px;
  position: relative;
  top: 10px;
  margin: auto;
}

.sideBar {
  display: table-cell;
  width: 10%;
  background-color: rgb(196, 196, 196);
  vertical-align: middle;
}

#leftSideBar {
  border-radius: 6px 0px 0px 6px;
}

#rightSideBar {
  border-radius: 0px 6px 6px 0px;
}


#leftArrow {
  width: 100%;
}

#leftArrow:hover, #rightArrow:hover {
  height: 62px;
}

#rightArrow {
  width: 100%;
  transform: scaleX(-1);
}

#middle {
  display: table-cell;
  width: 80%;
  background-color: rgb(235, 235, 235);
  text-align: center;
}

#gridControls {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: table;
}

#leftSide {
  display: table-cell;
  width: 50%;
  position: relative;
}


#rightSide {
  display: table-cell;
  width: 50%;
  position: relative;
}

#gridList {
  position: absolute;
  left: 0px;
  top: 0px;
  list-style: none;
  padding: 0px;
  margin: 10px;
}

.gridControlButton {
  display: block;
  border: solid 1px black;
  background-color: rgb(169, 214, 196);
  font-size: 22px;
  style: none;
  text-decoration: none;
  border-radius: 6px;
  margin: 10px 0px 10px 0px;
  width: 130px;
  height: 20px;
  padding: 8px;
}

#gridSelector {
  top: 0px;
  left: 0px;
  margin: 20px 30px 0px 0px;
}

#color {
  width: 100px;
}

#colorLabel {
  font-size: 20px;
  margin: 15px 0px 100px 0px;
}

#slideShow {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.formBox {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 90px;
  height: 24px;
  font-size: 20px;
}

#deleteButton {
  width: 100px;
  height: 15px;
  padding: 5px;
  font-size: 17px;
  margin-left: auto;
  margin-right: auto;
}

.inputForm {
  padding: 0px;
  margin: 10px 0px 0px 0px;
  text-align: left;
  font-size: 20px;
}
