
#tableContainer {
  display: table;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 565px;
  width: 650px;
  padding: 0px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#tableRow {
  display: table-row;
  table-layout: fixed;
  padding: 0px;
}

#leftBar {
  display: table-cell;
  padding: 0px;
  margin: 0px;
  border: 1px solid black;
  border-radius: 6px 0px 0px 6px;
  width: 25%;
  position: relative;
  background-color: rgb(191, 191, 191);
  text-align: center;
}

#rightBar {
  display: table-cell;
  width: 75%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  border: solid 1px black;
  border-radius: 0px 6px 6px 0px;
  background-color: grey;
  height: 100%;
  position: relative;
}

.title {
  font-family: "custom";
  font-size: 1.5em;
  margin: 0px;
  padding: 0px;
  text-align: center;
  overflow: hidden;
}
