
@font-face {
  font-family: "custom";
  src: url("../fonts/NineteenNinetySeven-11XB.ttf")
}

#tableContainer {
  display: table;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#tableRow {
  display: table-row;
}



.menuBar {
  display: table-cell;
  padding: 0px;
  margin: 0px;
  border: 1px solid black;
  border-radius: 6px 0px 0px 6px;
  width: 200px;
  height: 676px;
  position: relative;
  background-color: rgb(191, 191, 191);
  text-align: center;
}

#gameBox {

  display: table-cell;
  width: 560px;
  height: 676px;
  border: solid 1px black;
  border-radius: 0px 6px 6px 0px;
}

#game {
  background-color: grey;
  width: 100%;
  height: 622px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

#menuItems {
  margin: 0px;
  padding: 0px;
}

.menuItem, .lastItem  {
  margin: 2px;
  outline: 0;
  padding: 5px 12px;
  display: block;
  color: #9fa8b0;
  font-family: "custom";
  font-size: 26px;
  text-shadow: 1px 1px #1f272b;
  border: 1px solid #1c252b;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #232B30; /* old browsers */

  width: 190px;
  height: 70px;
  z-index: 5;
  position: relative;
}

.menuItem:hover, .lastItem:hover {
  color: #fff;
  background: #4C5A64; /* old browsers */
  background: -moz-linear-gradient(top, #4C5A64 3%, #404F5A 4%, #2E3940 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#4C5A64), color-stop(4%,#404F5A), color-stop(100%,#2E3940)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4C5A64', endColorstr='#2E3940',GradientType=0 ); /* ie */
}



.lastItem {
  position: absolute;
  bottom: 0px;
  margin-bottom: 2px;
  height: 30px;
}

.title {
  font-family: "custom";
  font-size: 30px;
  padding: 10px;
  margin: 0px;
  text-align: center;
}
