
@font-face {
  font-family: "custom";
  src: url("../fonts/NineteenNinetySeven-11XB.ttf")
}


#menuItems {
  margin: 0px;
  padding: 0px;
}

.menuItem, .lastItem  {
  margin: 2px;
  outline: 0;
  padding: 5px 12px;
  display: block;
  color: #9fa8b0;
  font-family: "custom";
  font-size: 18px;
  text-shadow: 1px 1px #1f272b;
  border: 1px solid #1c252b;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #232B30; /* old browsers */
  height: 70px;
  z-index: 5;
  position: relative;
}

.menuItem:hover, .lastItem:hover {
  color: #fff;
  background: #4C5A64; /* old browsers */
  background: -moz-linear-gradient(top, #4C5A64 3%, #404F5A 4%, #2E3940 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#4C5A64), color-stop(4%,#404F5A), color-stop(100%,#2E3940)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4C5A64', endColorstr='#2E3940',GradientType=0 ); /* ie */
}



.lastItem {
  position: absolute;
  bottom: 0px;
  margin-bottom: 2px;
  height: 30px;
  width: 100%;
}
