
@font-face {
  font-family: "custom";
  src: url("../fonts/NineteenNinetySeven-11XB.ttf")
}

#tableContainer {
  display: table;
  margin: auto;
  position: relative;
}

.tableRow {
  display: table-row;
}



#menu {
  display: table-cell;
  padding: 0px;
  margin: 0px;
  border: 1px solid black;
  border-radius: 6px 0px 0px 6px;
  width: 200px;
  position: relative;
  background-color: rgb(191, 191, 191);
  text-align: center;
}

#gameBox {
  display: table-cell;
  width: 600px;
  height: 600px;
  border: solid 1px black;
  border-radius: 0px 6px 6px 0px;
}

#game {
  background-color: grey;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
}

#menuItems {
  margin: 0px;
  padding: 0px;
}

.menuItem, .lastItem  {
  margin: 2px;
  outline: 0;
  padding: 5px 12px;
  display: block;
  color: #9fa8b0;
  font-weight: bold;
  font-size: 25px;
  text-shadow: 1px 1px #1f272b;
  border: 1px solid #1c252b;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #232B30; /* old browsers */
  background: -moz-linear-gradient(top, #3D4850 3%, #313d45 4%, #232B30 100%); /* firefox */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3D4850', endColorstr='#232B30',GradientType=0 ); /* ie */
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* CSS3 */
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* Firefox */
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* Safari, Chrome */
  width: 190px;
  height: 60px;
  z-index: 5;
  position: relative;
}

.menuItem:hover, .lastItem:hover {
  color: #fff;
  background: #4C5A64; /* old browsers */
  background: -moz-linear-gradient(top, #4C5A64 3%, #404F5A 4%, #2E3940 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#4C5A64), color-stop(4%,#404F5A), color-stop(100%,#2E3940)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4C5A64', endColorstr='#2E3940',GradientType=0 ); /* ie */
}

.menuItem:active, .lastItem:active {
    background-position: 0 top;
    position: relative;
    top: 1px;
    color: #fff;
    padding: 6px 12px 4px;
    background: #20282D; /* old browsers */
    background: -moz-linear-gradient(top, #20282D 3%, #252E34 51%, #222A30 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#20282D), color-stop(51%,#252E34), color-stop(100%,#222A30)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20282D', endColorstr='#222A30',GradientType=0 ); /* ie */
    -moz-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* Firefox */
    -webkit-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* Safari, Chrome */
    box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* CSS3 */
}


.lastItem {
  position: absolute;
  bottom: 0px;
  margin-bottom: 2px;
  height: 30px;
}

#title {
  font-family: "custom";
  font-size: 25px;
  padding: 0px;
  margin: 0px;
  text-align: center;
}
