#tableContainer {
  display: table;
  margin: auto;
  position: relative;
}

.tableRow {
  display: table-row;
}

#menu {
  display: table-cell;
  padding: 0px;
  margin: 0px;
  border: solid 1px black;
  width: 200px;
  position: relative;
  background-color: rgb(191, 191, 191);
  text-align: center;
}

#gameBox {
  display: table-cell;
  width: 600px;
  height: 600px;
  border: solid 1px black;
}

#game {
  background-color: grey;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
}



#menuItems {
  margin: 0px;
  padding: 0px;
}

.menuItem, .lastItem  {
  border: solid 1px black;
  background-color: rgb(169, 214, 196);
  font-size: 28px;
  list-style: none;
  text-align: center;
  border-radius: 6px;
  padding: 15px;
  width: 200px;
  height: 60px;
  z-index: 5;
  position: relative;
}

.lastItem {
  position: absolute;
  bottom: 0px;
  margin-bottom: 0px;
  height: 35px;
}

#title {
  padding: 0px;
  margin: 0px;
  text-align: center;
}
