

#tetrisCanvas {
  margin-top: 10px;
  border: 2px solid black;
  vertical-align: middle;
}

#pausedOverlay {
  background-color: rgba(222, 222, 222, 0.7);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
  z-index: 4;
}

#goBack, #pausedMenu {
  font-size: 22px;
}

.tetrisTitles {
  font-family: "custom";
  font-size: 18px;
}
