

#tetrisCanvas {
  border: 1px solid black;

  position: absolute;
  left: 50%;
  right: 50%;
  top: 55%;


  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#pausedOverlay {
  background-color: rgba(222, 222, 222, 0.7);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
  z-index: 4;
}

#goBack, #pausedMenu {
  font-size: 22px;
}

.tetrisTitles {
  font-family: "custom";
  font-size: 18px;
}
