

#tetrisCanvas {
  border: 3px solid rgb(146, 146, 146);
  border-radius: 3px;

  position: absolute;
  left: 50%;
  right: 50%;
  top: 55%;
  
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#pausedOverlay {
  background-color: rgba(222, 222, 222, 0.8);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
  z-index: 4;
  text-align: center;
}

#goBack, #pausedMenu {
  font-size: 22px;
}

.tetrisTitles {
  font-family: "custom";
  font-size: 18px;
  font-weight: 900;
  margin-top: 5px;
  margin-bottom: 0px;

}

.tetrisSide {
  font-family: "custom";
  font-size: 14px;
  margin: 10px;
  color: rgb(97, 95, 48);
}
